@page "/Asset_Management"
@inject IStringLocalizer<Index> Loc
<PageTitle>@Loc["Asset Management"]</PageTitle>
<style>
    .Vignette {
        flex: 1 0 16%;
        padding: 0.2rem;
        align-items: center;
        display: flex;
        height: 8rem;
    }

        .Vignette .btn {
            width: 100%;
        }
</style>
<MainLoading IsLoading=@DataServices.IsBusy LoadingText="@DataServices.LoadingText">
    <h2 class="text-center">
        @Loc["Asset Management"]
    </h2>
    <div class="d-flex flex-wrap">
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-bar-chart" style="color:orangered"></span>
                <a class="" style="margin:0.2rem 0rem" href="/Assets/Buildings">Expert-@Loc["Buildings"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-map-marker" style="color:gray"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Lands">Expert-@Loc["Lands"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-wrench" style="color:yellow"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["Equipments"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-signpost" style="color:blue"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["Roads"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-droplet" style="color:beige"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["Piping"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-bolt" style="color:crimson"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["Energies"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-file" style="color:chartreuse"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["Furnishings"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-phone" style="color:aliceblue"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["IT"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-light-bulb" style="color:blue"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["Appliances"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-vertical-align-top" style="color:blueviolet"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["Bridges"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-loop" style="color:gold"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["Fleet"]</a>
            </div>
        </div>
        <div class="Vignette position-relative">
            <div class="d-flex flex-column btn btn-light align-items-center">
                <span class="oi oi-inbox" style="color:aquamarine"></span>
                <a class="stretched-link " style="margin:0.2rem 0rem" href="/Assets/Equipments">Expert-@Loc["Graveyard"]</a>
            </div>
        </div>
    </div>
</MainLoading>
@code {
    protected override async Task OnInitializedAsync()
    {
        DataServices.SetBusy(GlobalLoc["Loading ..."]);
        await base.OnInitializedAsync();
        DataServices.EndBusy();
    }
}
