:root {
    --MainColor: #633A88;
    --MainColorAccent: #4A226F;
    --MainColorBold: #2B0949;
    --MainColorDisabledAccent: #845EA6;
    --MainColorDisabled: #B294CD;
    --AccentColor: #95397E;
    --AccentColorBold: #791E62;
    --AccentColorAccent: #50053D;
    --AccentColorDisabledAccent: #D797C7;
    --AccentColorDisabled: #DB661A1;
    --SecondaryColor: #4A418D;
    --SecondaryColorBold: #150E4B;
    --SecondaryColorAccent: #6E66AB;
    --SecondaryColorDisabledAccent: #6E66AB;
    --SecondaryColorDisabled: #A19AD0;
}

table tr:nth-child(odd) td {
    background-color: #B294CD;
    color: #fff;
}
/*Background*/
.box-primary {
    box-shadow: 1px 1px 5px var(--MainColor);
    padding: 0.4rem;
    margin: 0.2rem;
}

.back-primary {
    background-color: var(--MainColor);
}

.back-secondary {
    background-color: var(--SecondaryColor);
}

.back-accent {
    background-color: var(--AccentColor);
}

/*Buttons*/
 .btn-smaller {
    padding: 0.1rem 0.2rem;
    font-size: .6rem;
    border-radius: 0.1rem;
}
.btn-primary, .btn-outline-primary {
    color: #fff;
    background-color: var(--MainColor);
    border-color: var(--MainColorBold);
}

    .btn-primary:hover, .btn-outline-primary:hover {
        color: #fff;
        background-color: var(--MainColorBold);
        border-color: var(--MainColorAccent);
    }

    .btn-primary:disabled, .btn-primary:disabled:hover, .btn-outline-primary:disabled, .btn-outline-primary:disabled:hover {
        color: #fff;
        background-color: var(--MainColorDisabled);
        border-color: var(--MainColorDisabledAccent);
    }

.btn-outline-primary {
    background-color: unset;
    color: var(--MainColor);
}

.btn-secondary {
    color: #fff;
    background-color: var(--SecondaryColor);
    border-color: var(--SecondaryColorBold);
}

    .btn-secondary:hover {
        color: #fff;
        background-color: var(--SecondaryColorBold);
        border-color: var(--SecondaryColorAccent);
    }

    .btn-secondary:disabled:hover, .btn-secondary:disabled {
        color: #fff;
        background-color: var(--SecondaryColorDisabled);
        border-color: var(--SecondaryColorDisabledAccent);
    }

.btn-accent {
    color: #fff;
    background-color: var(--AccentColor);
    border-color: var(--AccentColorBold);
}

    .btn-accent:hover {
        color: #fff;
        background-color: var(--AccentColorBold);
        border-color: var(--AccentColorAccent);
    }

    .btn-accent:disabled:hover, .btn-accent:disabled {
        color: #fff;
        background-color: var(--AccentColorDisabled);
        border-color: var(--AccentColorDisabledAccent);
    }

.btn-light {
    color: #000;
    background-color: #c6c3ca;
    border-color: #adaab1;
}

    .btn-light:hover {
        color: #000;
        background-color: #e0dde4;
        border-color: #c6c3ca;
    }

.insp-scheduled{
    background-color:var(--MainColor) !important;
}
.insp-spontaneus {
    background-color: var(--MainColorAccent) !important;
}