@page "/"
@inject IStringLocalizer<Index> Loc

<PageTitle>@Loc["Home"]</PageTitle>

<style>
    .Vignette {
        flex: 1 0 16%;
        padding: 0.2rem;
        align-items: center;
        display: flex;
        height:8rem;
    }

        .Vignette .btn {
            width: 100%;
        }
</style>
<div class="box-primary">
   <ExpertCities.Blazor.Pages.Assets.AssetsManagement></ExpertCities.Blazor.Pages.Assets.AssetsManagement>
   </div>
<div class="box-primary">
    <h2 class="text-center">
        @Loc["Common Management Software"]
    </h2>
</div>

